*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #35654d;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.card {
  --width: 5em;
  --height: calc(var(--width) * 1.4);
  width: var(--width);
  height: var(--height);
  background-color: #F5DEB3;
  border: 3px solid black;
  border-radius: 0.25em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  position: relative;
  background-size: cover;
}

[data-suit="cups"].card,
[data-suit="crowns"].card {
  color: #BB0A21;
  border-color: #bb0a21;
}

[data-suit="swords"].card,
[data-suit="elephants"].card {
  color: #000000;
  border-color: #000000;
}

[data-suit="staves"].card,
[data-suit="octograms"].card {
  color: #7a306c;
  border-color: #7a306c;
}

[data-suit="coins"].card,
[data-suit="terrapins"].card {
  color: #0000ff;
  border-color: #0000ff;
}

.pip {
  grid-row-end: span 2;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

[data-suit="cups"] .pip {
  background-image: url("../../assets/suit_icons/cups.svg");
}

[data-suit="swords"] .pip {
  background-image: url("../../assets/suit_icons/Swords.svg");
}

[data-suit="coins"] .pip {
  background-image: url("../../assets/suit_icons/Coins.svg");
}

[data-suit="staves"] .pip {
  background-image: url("../../assets/suit_icons/staves.svg");
}

[data-suit="crowns"] .pip {
  background-image: url("../../assets/suit_icons/Crowns.svg");
}

[data-suit="elephants"] .pip {
  background-image: url("../../assets/suit_icons/elephants.svg");
}

[data-suit="octograms"] .pip {
  background-image: url("../../assets/suit_icons/octagram.svg");
}

[data-suit="terrapins"] .pip {
  background-image: url("../../assets/suit_icons/terrapins.svg");
}

.corner-number {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.1em;
  font-size: 0.8em;
}

.corner-number.top {
  top: 0.25em;
  left: 0.25em;
}

.corner-number.bottom {
  bottom: 0.25em;
  right: 0.25em;
  transform: rotate(180deg);
}

.corner-number::after {
  line-height: 0;
  display: block;
  width: 0.5em;
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

[data-suit="cups"] .corner-number::after {
  background-image: url("../../assets/suit_icons/cups.svg");
}

[data-suit="swords"] .corner-number::after {
  background-image: url("../../assets/suit_icons/Swords.svg");
}

[data-suit="coins"] .corner-number::after {
  background-image: url("../../assets/suit_icons/Coins.svg");
}

[data-suit="staves"] .corner-number::after {
  background-image: url("../../assets/suit_icons/staves.svg");
}

[data-suit="crowns"] .corner-number::after {
  background-image: url("../../assets/suit_icons/Crowns.svg");
}

[data-suit="elephants"] .corner-number::after {
  background-image: url("../../assets/suit_icons/elephants.svg");
}

[data-suit="octograms"] .corner-number::after {
  background-image: url("../../assets/suit_icons/octagram.svg");
}

[data-suit="terrapins"] .corner-number::after {
  background-image: url("../../assets/suit_icons/terrapins.svg");
}

[data-rank="J"] .pip {
  background-image: url("../../assets/suit_icons/jack.svg");
}

[data-rank="Q"].pip {
  background-image: url("../../assets/suit_icons/queen.svg");
}

[data-rank="K"] .pip {
  background-image: url("../../assets/suit_icons/king.svg");
}

[data-rank="A"] .pip,
[data-rank="J"] .pip,
[data-rank="Q"] .pip,
[data-rank="K"] .pip {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: span 6;
  grid-column-end: span 3;
}

[data-rank="2"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
}

[data-rank="2"] .pip:nth-child(2) {
  grid-row-start: 7;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-rank="3"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 2;
}

[data-rank="3"] .pip:nth-child(2) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-rank="3"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-rank="4"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-rank="4"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-rank="4"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-rank="4"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-rank="5"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-rank="5"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-rank="5"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-rank="5"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-rank="5"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-rank="6"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-rank="6"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-rank="6"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-rank="6"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-rank="6"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-rank="6"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-rank="7"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-rank="7"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-rank="7"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-rank="7"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-rank="7"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-rank="7"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-rank="7"] .pip:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-rank="8"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-rank="8"] .pip:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-rank="8"] .pip:nth-child(3) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-rank="8"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-rank="8"] .pip:nth-child(5) {
  grid-row-start: 4;
  grid-column-start: 1;
}

[data-rank="8"] .pip:nth-child(6) {
  grid-row-start: 4;
  grid-column-start: 3;
}

[data-rank="8"] .pip:nth-child(7) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-rank="8"] .pip:nth-child(8) {
  grid-row-start: 6;
  grid-column-start: 2;
  transform: rotate(180deg);
}

[data-rank="9"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-rank="9"] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-rank="9"] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-rank="9"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-rank="9"] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-rank="9"] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-rank="9"] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-rank="9"] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-rank="9"] .pip:nth-child(9) {
  grid-row-start: 4;
  grid-column-start: 2;
}

[data-rank="10"] .pip:first-child {
  grid-row-start: 1;
  grid-column-start: 1;
}

[data-rank="10"] .pip:nth-child(2) {
  grid-row-start: 3;
  grid-column-start: 1;
}

[data-rank="10"] .pip:nth-child(3) {
  grid-row-start: 5;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-rank="10"] .pip:nth-child(4) {
  grid-row-start: 7;
  grid-column-start: 1;
  transform: rotate(180deg);
}

[data-rank="10"] .pip:nth-child(5) {
  grid-row-start: 1;
  grid-column-start: 3;
}

[data-rank="10"] .pip:nth-child(6) {
  grid-row-start: 3;
  grid-column-start: 3;
}

[data-rank="10"] .pip:nth-child(7) {
  grid-row-start: 5;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-rank="10"] .pip:nth-child(8) {
  grid-row-start: 7;
  grid-column-start: 3;
  transform: rotate(180deg);
}

[data-rank="10"] .pip:nth-child(9) {
  grid-row-start: 2;
  grid-column-start: 2;
}

[data-rank="10"] .pip:nth-child(10) {
  grid-row-start: 6;
  grid-column-start: 2;
  transform: rotate(180deg);
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card.flipped {
  background-image: url('../../assets/back_image/card-back-black.png');
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}
.card.flipped .corner-number {
  visibility: hidden;
}

